h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.editor-post-title,
h2 {
  margin-bottom: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  -webkit-margin-before: 0.75rem;
          margin-block-start: 0.75rem;
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
}

h3 {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  -webkit-margin-before: 0.75rem;
          margin-block-start: 0.75rem;
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
}

h4 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  -webkit-margin-before: 0.75rem;
          margin-block-start: 0.75rem;
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
}

p {
  margin-bottom: 1em;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.editor-post-title {
  padding-bottom: 2.5rem;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.top-0 {
  top: 0px;
}

.bottom-5 {
  bottom: 1.25rem;
}

.left-0 {
  left: 0px;
}

.z-50 {
  z-index: 50;
}

.z-10 {
  z-index: 10;
}

.m-4 {
  margin: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-0 {
  margin-top: 0px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.-ml-\[2px\] {
  margin-left: -2px;
}

.\!mb-1 {
  margin-bottom: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem;
}

.\!mb-0 {
  margin-bottom: 0px !important;
}

.mb-12 {
  margin-bottom: 3rem;
}

.\!mt-\[1rem\] {
  margin-top: 1rem !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-8 {
  height: 2rem;
}

.h-\[calc\(100vh-185px\)\] {
  height: calc(100vh - 185px);
}

.h-\[96px\] {
  height: 96px;
}

.h-12 {
  height: 3rem;
}

.h-6 {
  height: 1.5rem;
}

.h-full {
  height: 100%;
}

.h-\[313px\] {
  height: 313px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-8 {
  width: 2rem;
}

.w-12 {
  width: 3rem;
}

.w-6 {
  width: 1.5rem;
}

.\!w-full {
  width: 100% !important;
}

.flex-grow {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.snap-center {
  scroll-snap-align: center;
}

.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[2rem\] {
  gap: 2rem;
}

.gap-y-\[3rem\] {
  row-gap: 3rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-light-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark-text {
  --tw-bg-opacity: 1;
  background-color: rgb(187 187 187 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.from-primary {
  --tw-gradient-from: #0EA5E9;
  --tw-gradient-to: rgb(14 165 233 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-light-text {
  --tw-gradient-from: #222;
  --tw-gradient-to: rgb(34 34 34 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-red-500 {
  --tw-gradient-from: #ef4444;
  --tw-gradient-to: rgb(239 68 68 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-secondary {
  --tw-gradient-to: #14B8A6;
}

.to-light-text {
  --tw-gradient-to: #222;
}

.bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.text-right {
  text-align: right;
}

.\!text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.font-extrabold {
  font-weight: 800;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-light-text {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.text-transparent {
  color: transparent;
}

.text-light-bg {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(16 22 25 / var(--tw-text-opacity));
}

.text-dark-text {
  --tw-text-opacity: 1;
  color: rgb(187 187 187 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.underline-offset-8 {
  text-underline-offset: 8px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\!shadow-light {
  --tw-shadow-color: #a9aAaB !important;
  --tw-shadow: var(--tw-shadow-colored) !important;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-linear {
  transition-timing-function: linear;
}

.max-w-content {
  max-width: 900px;
}

.alignfull {
  margin: 2rem calc(50% - 50vw) !important;
  max-width: 100vw !important;
  width: 100vw;
}

.alignwide {
  margin: 2rem 0;
  max-width: 1280px !important;
}

.alignnone {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  max-width: 100%;
}

.aligncenter {
  margin: 0.5rem auto;
  display: block;
}

@media (min-width: 600px) {
  .alignleft:not(.wp-block-button) {
    margin-right: 0.5rem;
    float: left;
  }

  .alignright:not(.wp-block-button) {
    margin-left: 0.5rem;
    float: right;
  }

  .wp-block-button.alignleft a {
    float: left;
    margin-right: 1rem;
  }

  .wp-block-button.alignright a {
    float: right;
    margin-left: 1rem;
  }
}

.wp-caption {
  display: inline-block;
}

.wp-caption img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.wp-caption-text {
  font-size: 0.875rem;
  color: #4b5563;
}

.alignfull {
  margin: 0rem calc(50% - 50vw) !important;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wp-block {
  max-width: 1280px;
}

.wp-block[data-align=wide] {
  max-width: 1280px;
}

.wp-block[data-align=full] {
  max-width: 100%;
}

/* blockGap Solution, temporary. Has to be a better way. false isn't working in theme.json */

.is-root-container :where(p) {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.is-root-container :where(h1, h2, h3, h4, h5, h6) {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(14 165 233 / var(--tw-text-opacity));
}

.hover\:no-underline:hover {
  text-decoration-line: none;
}

.hover\:\!shadow-secondary:hover {
  --tw-shadow-color: #14B8A6 !important;
  --tw-shadow: var(--tw-shadow-colored) !important;
}

.dark .dark\:border-cyan-900 {
  --tw-border-opacity: 1;
  border-color: rgb(22 78 99 / var(--tw-border-opacity));
}

.dark .dark\:bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark .dark\:bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(16 22 25 / var(--tw-bg-opacity));
}

.dark .dark\:bg-dark-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark .dark\:bg-dark-text {
  --tw-bg-opacity: 1;
  background-color: rgb(187 187 187 / var(--tw-bg-opacity));
}

.dark .dark\:from-secondary {
  --tw-gradient-from: #14B8A6;
  --tw-gradient-to: rgb(20 184 166 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.dark .dark\:from-dark-text {
  --tw-gradient-from: #bbb;
  --tw-gradient-to: rgb(187 187 187 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.dark .dark\:from-red-500 {
  --tw-gradient-from: #ef4444;
  --tw-gradient-to: rgb(239 68 68 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.dark .dark\:to-primary {
  --tw-gradient-to: #0EA5E9;
}

.dark .dark\:text-light {
  --tw-text-opacity: 1;
  color: rgb(169 170 171 / var(--tw-text-opacity));
}

.dark .dark\:text-dark-text {
  --tw-text-opacity: 1;
  color: rgb(187 187 187 / var(--tw-text-opacity));
}

.dark .dark\:text-dark-bg {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.dark .dark\:shadow-cyan-900 {
  --tw-shadow-color: #164e63;
  --tw-shadow: var(--tw-shadow-colored);
}

@media (min-width: 600px) {
  .sm\:\!mt-\[2rem\] {
    margin-top: 2rem !important;
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pr-10 {
    padding-right: 2.5rem;
  }
}

@media (min-width: 782px) {
  .md\:top-\[32px\] {
    top: 32px;
  }
}

@media (min-width: 900px) {
  .lg\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-\[402px\] {
    width: 402px;
  }

  .lg\:snap-center {
    scroll-snap-align: center;
  }

  .lg\:gap-y-24 {
    row-gap: 6rem;
  }

  .lg\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }

  .lg\:pt-12 {
    padding-top: 3rem;
  }

  .lg\:shadow-custom {
    --tw-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 1px 1px 1px 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .lg\:max-w-content {
    max-width: 900px;
  }

  .lg\:hover\:-translate-y-1:hover {
    --tw-translate-y: -0.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .dark .lg\:dark\:bg-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(16 22 25 / var(--tw-bg-opacity));
  }
}