article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {

    ul {
        @apply pl-[20px];
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* .admin-bar #page > header {
    @apply  md:top-[32px];
} */

.header-offset {
    padding-top: 96px;
}

hr {
    @apply my-2;
}

.post_thumbnail_wrapper {
    @apply max-w-content mx-auto mb-6;
}

/* @media only screen and (max-width: theme(screens.lg)) {
    .post_thumbnail_wrapper {
        @apply alignfull;
    }
} */

.entry-title {
    @apply font-black;
}

#darkModeToggle:hover {
    @apply transition-all ease-in-out duration-500;
}

.is-style-dark {
    @apply bg-black hover:!bg-dark;
}

#darkModeToggle::after {
    color: #bbb;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    content: "\f185";
    margin-left: 10px;
    position: absolute;
    top: 7px;
}

#darkModeToggle.is-style-dark::after {
    content: "\f186";
    margin-left: 11px;
}

.content-start-padding {
    @apply !mt-[1rem] sm:!mt-[2rem];
}

html {
    scroll-snap-type: y proximity;
}

.menu-item {
    @apply transition-colors duration-1000 ease-in-out;
    @apply bg-clip-text text-transparent bg-gradient-to-l from-light-text dark:from-dark-text to-light-text dark:to-dark-text;
}

.gradient-accent:hover,
.menu-item:hover {
    @apply bg-clip-text text-transparent bg-gradient-to-l from-sky-500 dark:from-teal-500 to-teal-500 dark:to-sky-500;
}

/* .post_thumbnail_placeholder {
    @apply rounded-md !aspect-[4/3] h-[313px] w-full object-cover group;
} */

/* Blinking Type */
/* .single-post .entry-title::after {
    @apply text-dark dark:text-light;
    content: "|";
    font-weight: bold;
    animation: blink 1000ms ease-in-out infinite;
    margin-right: 5px;
  }
  @keyframes blink {
    to {
      opacity: 0;
    }
  } */