[data-aos="remove-shadow"] {
  @apply shadow-sm !shadow-transparent;
  -webkit-transition: box-shadow 600ms !important;
  transition-duration: 600ms !important;
 
  transition-property: box-shadow;
  &.aos-animate {
    @apply shadow-sm !shadow-light dark:!shadow-dark;
    -webkit-transition: box-shadow 600ms !important;
    transition-duration: 600ms !important;
  }
}